@import "tailwindcss";

/* *{
  margin:0;
  padding:0;
  box-sizing: border-box;
} */


@layer base {
  :root {
    --font-josefin: "Josefin Sans", sans-serif;
  }

  body {
    font-family: var(--font-josefin);
    overflow: hidden;
  }
}